body{
  margin: 0;
}

img{
  margin: 0;
  padding: 0;
  width: 100px;
  height: 70px;
}
.head{
  display: flex;
  align-items: center;
}

nav .nav{
  display: flex;
  background-color: rgb(14, 13, 13);
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: space-around;
}

ul{
  display: flex;
  list-style: none;
  padding: 1px;
  margin: 0;
  
}

ul li{
  padding: 10px;
  margin: 0;
  list-style: none;
  padding-left: 90px;
  padding-right: 90px;
  flex-direction: column; 
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.search{
  display: flex;
  
}
.search input, button{ 
  border-radius: 5px;
  border-style: none;
}
button{
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 0;
  border: none;
  cursor: pointer;
}

button:hover{
  color: #000000;
  background-color: rgb(255, 255, 255);
}
.cards{
  display: flex;
}